In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/Exercise/titanic.csv")

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
inputs=df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [8]:
inputs

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [30]:
from sklearn import svm
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(font_scale=1.2)
%matplotlib inline

In [33]:
sns.lmplot('Age','Fare',data=df, hue='Type', 
           palette='Set1',fit_reg=False, scatter_kws={"s":70})

KeyError: "['Type'] not in index"

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
Survived=LabelEncoder()
Pclass=LabelEncoder()
Sex=LabelEncoder()
Age=LabelEncoder()
Fare=LabelEncoder()

In [11]:
inputs['survived_n']=Survived.fit_transform(inputs['Survived'])
inputs['pclass_n']=Survived.fit_transform(inputs['Pclass'])
inputs['sex_n']=Survived.fit_transform(inputs['Sex'])
inputs['age_n']=Survived.fit_transform(inputs['Age'])
inputs['fare_n']=Survived.fit_transform(inputs['Fare'])

In [16]:
inputs_n=inputs.drop(['Survived','Pclass','Sex','Age','Fare','survived_n'],axis='columns')

In [17]:
inputs_n

     pclass_n  sex_n  age_n  fare_n
0           2      1     28      18
1           0      0     51     207
2           2      0     34      41
3           0      0     47     189
4           2      1     47      43
..        ...    ...    ...     ...
886         1      1     35      85
887         0      0     24     153
888         2      0     90     131
889         0      1     34     153
890         2      1     42      30

[891 rows x 4 columns]

In [18]:
target=df['Survived']

In [19]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [20]:
from sklearn import tree

In [21]:
model =tree.DecisionTreeClassifier()

In [22]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [23]:
model.score(inputs_n,target)

0.9876543209876543

In [26]:
model.predict([[2,1,47,43]])

array([0], dtype=int64)